<form class="test-location">

  <h4>Select Location</h4>
  <p> Top Story: {{selectedLocation}} </p>
  <h4>Select Location</h4>
  <mat-form-field>
    <mat-label>Favorite Location</mat-label>
    <select matNativeControl [(ngModel)]="selectedLocation" name="car">
      <option value="" selected></option>
      <option *ngFor="let location of locations" [value]="location.value">
        {{location.viewValue}}
      </option>
    </select>
  </mat-form-field>


  <h4>Search Story Book</h4>

</form>
